*{
    margin: 0;
}
body{
    background-color: #000;
    color: white;
}

.nav-bar{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    color:white;
}
.logo{
    color:#E50914;
}
.nav-items ul{
    display: flex;
    gap: 80px;
    list-style: none;
    font-size: 19px;
}
.home{
    
    color: white;
    background-color:#E50914;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
}
.user-icon{
    display: flex;
    gap:20px
}
.user-icon p{
    padding-top: 15px;
}
.user-icon img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.landing-container{
    height: 900px;  
    background-image: url(../assets/images/lpg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}    
.landing-content p {
    color: white;
    line-height: 50px;
    padding: 50px 150px;

    

}
#main-desc{
    color: #E50914;
    font-size: 80px;
    padding-top: 200px;
}
.desc{
    font-size: 50px;
    
}
.genre{
    height: 690px;
    
}
#gen{
    color: #E50914;
    font-size: 50px;
    margin-top: 80px;
    padding-left: 800px;
    background-color: #171717;
}
.gen-types img{
    width:300px;
    height: 300px;
    border-radius: 10px;
    border-style: none;
}
.gen-types ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-top: 120px;
    
}
.gen-desc {
    text-align: center;
    color: #E50914;
    font-size: 28px;
    padding-top: 20px;
}

#trend{
    color: #E50914;
    font-size: 50px;
    margin-top: 80px;
    padding-left: 780px;
    background-color: #171717;
}
.trend-list{
    list-style: none;
    padding-top: 100px;
    
}
.trend-list img{
    border-radius: 20px;
}
.trend-list h4{
    padding-top: 40px;
    color: #E50914;
    font-size: 25px;
}
.trend-list p{
    line-height: 30px;
    padding-top: 15px;
    font-size: 20px;
}
.tr-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
}
.subscription{
    height: 800px;
    margin-top: 120px;
    background-image: url(./images/sub.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#sub-title{
    color: #E50914;
    font-size: 50px;
    margin-top: 80px;
    padding-left: 800px;
    background-color: #171717;
}
.subscription-boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    line-height: 50px;
    
}
.subscription-boxes h4{
    color: #E50914;
    font-size: 24px;
    text-align: center;
}
.subscription-boxes h3{
    text-align: center;
}

.basic{
    background-color: #171717;
    padding: 60px 80px;
    border-radius: 40px;
    
}
.subscription-boxes :hover{
    width: 200px;
    height: 490px;
    transition-delay: 0.20s;
}   
.standard{
    background-color: #171717;
    padding: 60px 80px;
    border-radius: 40px;
}
.premium{
    background-color: #171717;
    padding: 60px 80px;
    border-radius: 40px;
}
i{
    color: #E50914;
}
.email-box{
    height: 500px;
    padding-top: 100px;
    text-align: center;
    line-height: 40px;
}
#main-p{
    font-size: 60px;
    padding-bottom: 20px;
    color: #E50914;
    line-height: 70px;

}
.same{
    font-size: 30px;
}
#form{
    padding-top: 70px;
}
#email{
    padding: 10px 120px;
    border: none;
    border-radius: 4px;
    
}
#free-trial{
    padding: 10px 55px;
    background-color: #E50914;
    color: white;
    border: none;
    border-radius: 4px;
}
.footer{
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-links-right li ,.footer-links-left li{
    list-style: none;
    line-height: 40px;
    font-size: 25px;
    
}